body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

textarea {
    resize: none;
}

.form-group {
    text-align: left;
}

code {
    font-family: monospace;
    background-color: lightgrey;
    color: black;
}

.introduction {
    text-align: center;
    width: 700px;
    position: relative;
    left: 19%;
    font-size: 16pt;
}

.description {
    text-align: left;
    width: 800px;
    position: relative;
    left: 15%;
    font-size: 12pt;
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol > li:before {
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
