{% extends "master.html" %}

{% block title %}Databases{% endblock %}

{% block body %}

<h1>Database setup</h1>
<br/>
<p class="lead">Here you add information about the database(s) the probes should send measurement data to.</p>
<br/>

<form class="form-horizontal" method="POST">

  {% for db_type, db in dbs.items() %}
    {% if db_type == 'influxdb' %}
    <h2>InfluxDB</h2>
    {% elif db_type == 'elastic' %}
    <h2>Elasticsearch</h2>
    {% endif %}


    {% if db_type == 'elastic' %}
    <div class="form-group">
      <label class="col-sm-2 control-label">DB information</label>
      <div class="col-sm-10">
        <div class="radio">
          <label>
            <input type="radio" name="database.{{ db.id }}.status" id="{{ db.id }}-status-uninett" value="uninett" {% if db.status == 'uninett' %}checked{% endif %}>
            Use UNINETT's
          </label>
          <label>
            <input type="radio" name="database.{{ db.id }}.status" id="{{ db.id }}-status-disabled" value="disabled" {% if db.status == 'disabled' %}checked{% endif %}>
            Disabled
          </label>
          <label>
            <input type="radio" name="database.{{ db.id }}.status" id="{{ db.id }}-status-custom" value="custom" {% if db.status == 'custom' %}checked{% endif %}>
            Custom
          </label>
        </div>
      </div>
    </div>
    {% else %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <div class="radio">
          <label>
            <input type="radio" name="database.{{ db.id }}.status" id="{{ db.id }}-status-enabled" value="enabled" {% if db.status == 'enabled' %}checked{% endif %}>
            Enabled
          </label>
          <label>
            <input type="radio" name="database.{{ db.id }}.status" id="{{ db.id }}-status-disabled" value="disabled" {% if db.status == 'disabled' %}checked{% endif %}>
            Disabled
          </label>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <label class="col-sm-2 control-label">Server address (IP / DNS record)</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="database.{{ db.id }}.address" id="{{ db.id }}-address" value="{{ db.address }}" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Server port</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="database.{{ db.id }}.port" id="{{ db.id }}-port" value="{{ db.port }}" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{% if db_type == 'elastic' %}Index name/pattern{% else %}Database name{% endif %}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="database.{{ db.id }}.db_name" id="{{ db.id }}-db_name" value="{{ db.db_name }}" required/>
      </div>
    </div>

    {% if db_type != 'elastic' %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="database.{{ db.id }}.username" id="{{ db.id }}-username" value="{{ db.username }}" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="database.{{ db.id }}.password" id="{{ db.id }}-password" value="{{ db.password }}" required/>
      </div>
    </div>
    {% endif %}

  {% endfor %}

  <button type="submit" class="btn btn-lg btn-default" name="save">Save configuration</button>
</form>

<script type="text/javascript">
function disable_inputs(id, disabled) {
  $("#" + id + "-address").prop('disabled', disabled);
  $("#" + id + "-port").prop('disabled', disabled);
  $("#" + id + "-db_name").prop('disabled', disabled);
  $("#" + id + "-username").prop('disabled', disabled);
  $("#" + id + "-password").prop('disabled', disabled);
}
$(document).ready(function() {
  $(":radio[name$=\\.status]").each(function() {
      //alert(this.name + " " + this.value);
    if(this.checked) {
      if(this.value == 'disabled' || this.value == 'uninett') {
          disable_inputs(this.id.split('-')[0], true);
        } else if (this.value == 'enabled' || this.value == 'custom') {
          disable_inputs(this.id.split('-')[0], false);
      }
    }
    $(this).change(function() {
      disable_inputs(this.id.split('-')[0], (this.value === 'disabled' || this.value === 'uninett') && this.checked);
    });
  });
});
</script>

{% endblock %}
