{% extends "master.html" %}

{% block title %}Download image{% endblock %}

{% block body %}

<h1>Download image</h1>
<p class="lead">
Here you can download the Linux image for the Raspberry Pis.
</p>
<p>
Raspberry Pi 1 has its own image, while Raspberry Pi 2 & 3 share the same image.
</p>

<a href="{{ url_for('static', filename='images/rpi1_probe.img') }}" download>
  <button type="button" class="btn btn-lg btn-default" name="download">Download RPi 1 image</button>
</a>

<a href="{{ url_for('static', filename='images/rpi2-3_probe.img') }}" download>
  <button type="button" class="btn btn-lg btn-default" name="download">Download RPi 2/3 image</button>
</a>

<a href="{{ url_for('static', filename='images/rpi2-3_raspbian.img') }}" download>
  <button type="button" class="btn btn-lg btn-default" name="download">Download RPi 2/3 image with Raspbian</button>
</a>

{% endblock %}
