{% extends "master.html" %}

{% block title %}Edit user{% endblock %}

{% block body %}

<h1>Edit user</h1>

<form class="form-horizontal" method="POST">

    <div class="form-group">
      <label class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" value="{{ user.username }}" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" placeholder="(Blank means unchanged)"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Contact person</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="contact_person" value="{{ user.contact_person }}" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Contact email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="contact_email" value="{{ user.contact_email }}" required/>
      </div>
    </div>

  <button type="submit" class="btn btn-lg btn-default" name="save">Save changes</button>
</form>

{% endblock %}
