{% extends "master.html" %}

{% block title %}Download image{% endblock %}

{% block body %}

<h1>Instructions</h1>
<p class="lead">
This page contains instructions on how to set up probes.
</p>

<div class="description">
  <ol>
    <li>Go to the <a href="{{ url_for('download_image') }}">Download image</a> tab and download the image for either Raspberry Pi 1 or Raspberry Pi 2/3 (RPi 2 and 3 uses the same image)</li>
    <li>Install it on an SD card with at least 8 GB of space.
      <ol>
        <li>To do this on Linux, first run <code>lsblk</code> to find the name of the SD card (in the format sdX, e.g. sde), and then run the following command: <code>dd if=rpi2-3_probe.img of=/dev/sdX bs=1M conv=sync</code>, where sdX is the name of your SD card, and rpi2-3_probe.img is the filename of the image.
        </li>
      </ol>
    </li>
    <li>Insert the SD card into the Raspberry Pi and connect the following to it:
      <ul>
        <li>Ethernet cable</li>
        <li>WiFi dongle</li>
        <li>Power cable</li>
      </ul>
    </li>
    <li>The RPi will automatically initiate a setup procedure at first boot, where it installs necessary programs and associates itself with the server. <em>Do not cut the power while the RPi is doing this.</em> Note that this can take 20-30 minutes.</li> 
    <li>Go to the <a href="{{ url_for('databases') }}">Databases</a> tab, choose which database types you want to use and add required information. If you only want to use UNINETT's ELK stack (Elasticsearch & Kibana), you can skip this step.</li>
    <li>Now you must register the RPi under the <a href="{{ url_for('probes') }}">Probes</a> tab. The WiFi dongle's MAC address will be printed on the dongle itself. Note that this registration can be done at any time, but the RPi will not associate with server before it is done.
      <ol>
        <li>Click 'Edit' on a probe and add the network credentials of the network you want the probe to measure. You can also change the interval of which each WiFi test should be run. Note that if you're adding multiple probes, and they will all have the same (or almost the same) credentials, make sure to click 'Save configuration as default', as this will make sure all probes added after that will have these credentials.</li>
        <li>Note that saving as default will not affect already added probes.</li>
      </ol>
    <li>The RPi is ready when you see a green 'Associated' button under 'Probe status' in the <a href="{{ url_for('probes') }}">Probes</a> tab. If the button is red, click on it to renew the association period.</li>
    <li>If the network credentials have already been added, you can now click on 'Push configuration to probes' to update the probes with the added information. This can take a while. Note that you should wait for all your probes to be associated before doing this, as all associated probes will be updated at once.</li>
    <li>After the update is done ('Update status' says completed), power off the RPi by disconnecting/pulling out the WiFi dongle. This will initiate a shutdown procedure, and is how the probe must be shut down to avoid file corruption. After the green light on the RPi stops blinking (will take a few seconds), you can cut the power.</li>
    <li>The probe will automatically start measuring the network next time power is connected, <em>as long as no ethernet cable is connected</em>. This is to avoid doing measurements over cable instead of WiFi.</li>
  </ol>
</div>
{% endblock %}
