<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">UNINETT WiFi probes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            {% if current_user.is_authenticated %}
            <li {% if request.url_rule.endpoint == "index" %}class="active"{% endif %}>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li {% if request.url_rule.endpoint == "download_image" %}class="active"{% endif %}>
              <a href="{{ url_for('download_image') }}">Download image</a>
            </li>
            <li {% if request.url_rule.endpoint == "databases" %}class="active"{% endif %}>
              <a href="{{ url_for('databases') }}">Databases</a>
            </li>
            <li {% if request.url_rule.endpoint == "probes" %}class="active"{% endif %}>
              <a href="{{ url_for('probes') }}">Probes</a>
            </li>

              {% if current_user.admin %}
              <li {% if request.url_rule.endpoint == "user_managment" %}class="active"{% endif %}>
                <a href="{{ url_for('user_managment') }}">User managment</a>
              </li>
              {% endif %}

            <li {% if request.url_rule.endpoint == "logout" %}class="active"{% endif %}>
            <a href="{{ url_for('logout') }}">Logout (as {{ current_user.username }})</a>
            </li>
            {% else %}
            <li {% if request.url_rule.endpoint == "login" %}class="active"{% endif %}>
              <a href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <p {% if category == 'error' %}style="color:red;"{% endif %}>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

      </div>

    </div><!-- /.container -->
  </body>
</html>
