{% extends "master.html" %}

{% block title %}Probe setup{% endblock %}

{% block body %}

<h1>Probe setup</h1>
<p class="lead">Here you can set the credentials of the network the probe should perform measurements on, and adjust the interval test scripts will be run at.</p>

{% if message is string and message != '' %}
<p style="color:red;">{{ message }}</p>
<br/>
{% endif %}

<form method="POST" enctype="multipart/form-data">
  <button type="submit" class="btn btn-lg btn-default" name="action" value="save">Save configuration</button>
  <button type="submit" class="btn btn-lg btn-default" name="action" value="save_as_default">Save configuration as default</button>
  <div id="extra_configs">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#network" data-toggle="tab">Network</a></li>
      <li><a href="#scripts" data-toggle="tab">Test scripts</a></li>
      <li><a href="#basic" data-toggle="tab">Basic info</a></li>
    </ul>
    <div id="tab_content" class="tab-content">

      <!-- Basic info -->
      <div id="basic" class="tab-pane">
        <h2>Basic info</h2>
        <p>The MAC address is needed for initialization, and the rest is for easier probe identification.</p><br/>
        <div class="form-horizontal">

          <!-- Basic entries -->
          {% for entry in required %}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry.description }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="{{ entry.key }}" value="{{ entry.value }}" {% if entry.key == 'probe_id' %}pattern="(([0-9a-fA-F]:?){2}){5}[0-9a-fA-F]{2}"{% endif %} required/>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

      <!-- Script configurations -->
      <div id="scripts" class="tab-pane">
        <h2>Test script configuration</h2>
        <p>Here you can adjust some test script parameters if desired.</p><br/>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Script filename</th>
                  <th>Arguments</th>
                  <th>Minute interval</th>
                  <th>Enabled</th>
                </tr>
              </thead>

              <tbody>

              {% for script in scripts %}
                <tr>
                  <td>
                    <textarea class="form-control" name="script.{{ script.id }}.name" rows="2" disabled>{{ script.name }}</textarea>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="script.{{ script.id }}.script_file" value="{{ script.script_file }}" disabled/>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="script.{{ script.id }}.args" value="{% if script.args != None %}{{ script.args }}{% endif %}" disabled/>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="script.{{ script.id }}.minute_interval" value="{{ script.minute_interval }}" required/>
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" name="script.{{ script.id }}.enabled" {% if script.enabled %}checked{% endif %} {% if script.required %}disabled/><br/>(Required){% else %}/>{% endif %}
                    </label>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Network configuration -->
      <div id="network" class="tab-pane active">
        <h2>Network configuration</h2>
        <p>Fill out information and credentials of the network(s) the probe should be connected to when doing measurements.</p><br/>
        <div class="form-horizontal">

          {% for freq, config in network_configs.items() %}
            {% if freq == 'any' %}
            <!-- REMOVE THIS IF ^^^ to enable exclusive 2.4 GHz and 5 GHz as options -->
          <h4><br/>{{ config.description }}</h4>

          <div class="form-group">
            <label class="col-sm-2 control-label">SSID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="network.{{ config.id }}.ssid" value="{{ config.ssid }}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Anonymous ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="network.{{ config.id }}.anonymous_id" value="{{ config.anonymous_id }}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Username / User ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="network.{{ config.id }}.username" value="{{ config.username }}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="network.{{ config.id }}.password" value="{{ config.password }}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">CA Certificate</label>
            <div class="col-sm-10">
              <label style="font-weight:normal;">
                <input type="file" name="network.{{ config.id }}.certificate" {% if cert_data[freq] == '' %}required{% endif %}>
                {% if cert_data[freq] != '' %}
                (Currently using the following certificate: <b>{{ cert_data[freq] }})</b>
                {% endif %}
              </label>
            </div>
          </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $('#tabs').tab();
      });
  </script>

</form>

{% endblock %}
