{% extends "master.html" %}

{% block title %}Probes{% endblock %}

{% block body %}

<h1>Probes</h1>

{% if message is string and message != '' %}
<p style="color:red;">{{ message }}</p>
<br/>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div style="margin: 0 auto;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>MAC address</th>
            <th>Location</th>
            {% if probes|length > 0 %}
            <th>Identification status</th>
            <th>Connection status (eth0 / wlan0)</th>
            <th>Update status</th>
            {% endif %}
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>

        {% for probe in probes %}
          <tr>
            {% if probe.associated %}
            <td>
              <a href="https://wifiprobeelk.labs.uninett.no/mellon/login?ReturnTo=https%3A%2F%2Fwifiprobeelk.labs.uninett.no%2Fapp%2Fkibana%23%2Fdashboard%2F{{ kibana_dashboard }}%3F_g%3D%28time%3A%28from%3Anow-4h%2Cmode%3Aquick%2Cto%3Anow%29%29%26_a%3D%28query%3A%28query_string%3A%28query%3A%27org%3A%22{{ organization }}%22%2520AND%2520name%3A%22{{ probe.name }}%22%27%29%29%29">
              {{ probe.name }}
              </a>
            </td>
            <td>
              <a href="https://wifiprobeelk.labs.uninett.no/mellon/login?ReturnTo=https%3A%2F%2Fwifiprobeelk.labs.uninett.no%2Fapp%2Fkibana%23%2Fdashboard%2F{{ kibana_dashboard }}%3F_g%3D%28time%3A%28from%3Anow-4h%2Cmode%3Aquick%2Cto%3Anow%29%29%26_a%3D%28query%3A%28query_string%3A%28query%3A%27mac%3A{{ probe.storage_id }}%27%29%29%29">
              {{ probe.id }}
              </a>
            </td>
            <td>
              <a href="https://wifiprobeelk.labs.uninett.no/mellon/login?ReturnTo=https%3A%2F%2Fwifiprobeelk.labs.uninett.no%2Fapp%2Fkibana%23%2Fdashboard%2F{{ kibana_dashboard }}%3F_g%3D%28time%3A%28from%3Anow-4h%2Cmode%3Aquick%2Cto%3Anow%29%29%26_a%3D%28query%3A%28query_string%3A%28query%3A%27org%3A%22{{ organization }}%22%2520AND%2520location%3A%22{{ probe.location}}%22%27%29%29%29">
              {{ probe.location }}
              </a>
            </td>
            {% else %}
            <td>{{ probe.name }}</td>
            <td>{{ probe.id }}</td>
            <td>{{ probe.location }}</td>
            {% endif %}
            <td>
              <form method="POST">
                <input type="hidden" name="probe_id" value="{{ probe.id }}"/>
                {# NOTE: we use the word "associated" instead of "identified" in the backend for legacy reasons #}
                {% if probe.associated %}
                <button type="submit" class="btn btn-success" name="action" value="renew_period" disabled>Identified</button>
                {% elif not probe.association_period_expired %}
                <button type="submit" class="btn btn-warning" name="action" value="renew_period">Waiting for identification...<br>(Click to renew period)</button>
                {% else %}
                <button type="submit" class="btn btn-danger" name="action" value="renew_period">Identification period expired<br>(Click to renew period)</button>
                {% endif %}
              </form>
            </td>
            {% if probes|length > 0 %}
            <td>
              <p name="connection-status" data-mac="{{ probe.storage_id }}" style="color:gray;">
                <span name="eth0">Loading...</span>
                <span> / </span>
                <span name="wlan0">Loading...</span>
              </p>
            </td>
            <td>
              <p name="ansible-status" data-mac="{{ probe.storage_id }}" style="color:gray;">Loading...</p>
            </td>
            {% endif %}
            <td>
              <form method="POST">
                <input type="hidden" name="probe_id" value="{{ probe.id }}"/>
                <button type="submit" class="btn btn-default" name="action" value="reboot_probe">Reboot</button>
              </form>
            </td>
            <td>
              <a href="{{ url_for('probe_setup', id=probe.id) }}">
                <button type="button" class="btn btn-default" name="edit">Edit</button>
              </a>
            </td>
            <td>
              <form method="POST">
                <input type="hidden" name="probe_id" value="{{ probe.id }}"/>
                <button type="submit" class="btn btn-default" onclick="return confirm('Are you sure you want to remove this probe?');" name="action" value="remove_probe">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        
          <tr>
            <form class="form-horizontal" method="POST">
              <td>
                <input type="text" class="form-control" name="probe_name" required>
              </td> 
              <td>
                <input type="text" class="form-control" name="probe_id" pattern="(([0-9a-fA-F]:?){2}){5}[0-9a-fA-F]{2}" placeholder="12:34:56:AB:CD:EF" required>
              </td> 
              <td>
                <input type="text" class="form-control" name="probe_location" required>
              </td> 
              <td colspan="6">
                <button type="submit" class="btn btn-lg btn-default" name="action" value="new_probe">Add new probe</button>
              </td>
            </form>
          </tr>        
        </tbody>
      </table>
    </div>  
  </div>  
</div>

<script type="text/javascript">
  // Query for and replace each probe's connection status
  var update_connection_status =  function() {
    $("[name^=connection-status]").each(function(index, element) {
      $.get("/get_connection_status", {
        mac: $(element).data("mac")
      },
      function(data) {
        text = "";
        color = "";
        jdata = "";
        try {
          jdata = jQuery.parseJSON(data);
          json = true;
        } catch(e) {
          json = false;
        }
        if(json) {
          $(element).children("span").eq(0).html(jdata["eth0"] == 1 ? "Up" : "Down");
          $(element).children("span").eq(0).attr("style", "color:" + (jdata["eth0"] == 1 ? "green" : "red") + ";");
          $(element).children("span").eq(2).html(jdata["wlan0"] == 1 ? "Up" : "Down");
          $(element).children("span").eq(2).attr("style", "color:" + (jdata["wlan0"] == 1 ? "green" : "red") + ";");
        } else {
          if(data === "connected") {
            text = "Connected (eth0 or wlan0)";
            color = "green";
          } else {
            text = "Unknown";
            color = "gray";
          }
          $(element).html(text);
          $(element).attr("style", "color:" + color + ";");
        }
      });
    });
  };

  // Query for and replace each probe's ansible status
  var update_ansible_status = function() {
    $("[name^=ansible-status]").each(function(index, element) {
      $.get("/get_ansible_status", {
        mac: $(element).data("mac")
      },
      function(data) {
        text = "";
        color = "";
        if(data.indexOf("updated") == 0) {
          text = "Updated (" + data.slice(data.indexOf("-")+1) + ")";
          color = "green";
        } else {
          switch(data) {
            case "updating":
              text = 'Updating...<img src="{{ url_for("static", filename="images/updating.gif") }}">'
              color = "orange";
              break;
            case "failed":
              text = "Failed";
              color = "red";
              break;
            case "not-updated":
              text = "Not updated";
              color = "black";
              break;
            default:
              text = "Unknown";
              color = "gray";
          }
        }
        $(element).html(text);
        $(element).attr("style", "color:" + color + ";");
      });
    });
  };

  // Run updates at page load, and then at 30 second intervals  
  $(document).ready(function () {
    update_connection_status();
    update_ansible_status();
    setInterval(update_connection_status, 30000);
    setInterval(update_ansible_status, 30000);
  });
</script>

<form method="POST">
  <button type="submit" class="btn btn-lg btn-primary" name="action" value="push_config">
    Push configuration to probes
  </button>
</form>

{% endblock %}
