{% extends "master.html" %}

{% block title %}Probes{% endblock %}

{% block body %}

<h1>Probes</h1>

{% if message is string and message != '' %}
<p style="color:red;">{{ message }}</p>
<br/>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div style="margin: 0 auto;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>MAC address</th>
            <th>Location</th>
            <th colspan="2">Actions</th>
            <th colspan="2">Status</th>
          </tr>
        </thead>
        <tbody>

        {% for probe in probes %}
          <tr>
            <td>{{ probe.name }}</td>
            <td>{{ probe.id }}</td>
            <td>{{ probe.location }}</td>
            <td>
              <a href="{{ url_for('probe_setup', id=probe.id) }}">
                <button type="button" class="btn btn-default" name="edit">Edit</button>
              </a>
            </td>
            <td>
              <form method="POST">
                <input type="hidden" name="probe_id" value="{{ probe.id }}"/>
                <button type="submit" class="btn btn-default" name="action" value="remove_probe">Remove</button>
              </form>
            </td>
            <td>
              <form method="POST">
                <input type="hidden" name="probe_id" value="{{ probe.id }}"/>
                {% if probe.associated %}
                <button type="submit" class="btn btn-success" name="action" value="renew_period" disabled>Associated!</button>
                {% elif not probe.association_period_expired %}
                <button type="submit" class="btn btn-warning" name="action" value="renew_period">Waiting for association...<br>(Click to renew period)</button>
                {% else %}
                <button type="submit" class="btn btn-danger" name="action" value="renew_period">Association period expired<br>(Click to renew period)</button>
                {% endif %}
              </form>
            </td>
            <td>
              {% if probe.connected %}
              <p style="color:green;">Connected!</p>
              {% else %}
              <p style="color:red;">Not connected</p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        
          <tr>
            <form class="form-horizontal" method="POST">
              <td>
                <input type="text" class="form-control" name="probe_name" required>
              </td> 
              <td>
                <input type="text" class="form-control" name="probe_id" pattern="(([0-9a-fA-F]:?){2}){5}[0-9a-fA-F]{2}" placeholder="12:34:56:AB:CD:EF" required>
              </td> 
              <td>
                <input type="text" class="form-control" name="probe_location" required>
              </td> 
              <td colspan="2">
                <button type="submit" class="btn btn-lg btn-default" name="action" value="new_probe">Add new probe</button>
              </td>
            </form>
          </tr>        
        </tbody>
      </table>
    </div>  
  </div>  
</div>

<form method="POST">
  <button type="submit" class="btn btn-lg btn-primary" name="action" value="push_config">
    Push configuration to probes
  </button>
</form>

{% endblock %}
